git.webprogrammierung.org {
    reverse_proxy localhost:3000
}

webprogrammierung.org {
     root * /root/gitea/gitea/custom/public/docs
     file_server
}

mein.webprogrammierung.org {
     reverse_proxy localhost:3001
}
