gitea.webprogrammierung.org {
    reverse_proxy localhost:3000
}

webprogrammierung.org {
     root * /docs
     file_server
}

mein.webprogrammierung.org {
     reverse_proxy localhost:3001
}

git.webprogrammierung.org {
     root * /git
     file_server
}

code.webprogrammierung.org {
     reverse_proxy 127.0.0.1:8080
}

apache.webprogrammierung.org {
    reverse_proxy 127.0.0.1:8000
}